<div class="page-title-box">
    <div class="page-title">
        <img src="images/icones-mural/Cinza/<%= pageIcon %>" alt="<%= pageTitle %>">
        <span><%= pageTitle %></span>
    </div>                    
</div>