DB_USER=root
DB_PASS=
DB_NAME=mural
DB_HOST=127.0.0.1
DB_PORT=3306

AWS_ACCESS_KEY_ID=AKIA3FDOPIYOR6H7LXG4
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=us-east-1

STORAGE_TYPE=s3
BUCKET_NAME=mural-dh