<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script defer src="javascripts/script.js"></script>
    <script defer src="javascripts/carousel.js"></script>
    <script defer src="javascripts/select-box.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <title>Avisos</title>
</head>

<body>
    <!-- DIV PAI DE TODAS -->
    <div class="container">
        <!-- Fundo escuro do modal -->
        <div id="background-modal" onclick="toggleBackgroundModal()"></div>

        <!-- Nav Mobile  -->
        <div id="mobileSidebar" class="sidebarMobile">
            <a href="javascript:javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div id="logo-nav">
                <a href="/inicio"><img src="images/logos-mural/logo-h-branco.svg" alt="Mural"></a>
            </div>
            <a href="/inicio"><img src="images/icones-mural/Branco/home.svg" alt="Inicio">Início</a>
            <a href="/avisos"><img src="images/icones-mural/Branco/avisos.svg" alt="Avisos">Avisos</a>            
            <a href="/ocorrencias"><img src="images/icones-mural/Branco/ocorrencias.svg"
                    alt="Ocorrencias">Ocorrências</a>
            <a href="/reservas"><img src="images/icones-mural/Branco/reservas.svg" alt="Reservas">Reservas</a>
            <a href="/agenda"><img src="images/icones-mural/Branco/agenda.svg" alt="Agenda">Agenda</a>
            <a href="/enquetes"><img src="images/icones-mural/Branco/enquete.svg" alt="Enquetes">Enquetes</a>
            <a href="/boleto"><img src="images/icones-mural/Branco/2via.svg" alt="2ª via do Condomínio">2ª via do
                Condomínio</a>
            <a href="/contas"><img src="images/icones-mural/Branco/contas2.svg"
                    alt="Prestação de Contas">Prestação de Contas</a>
            <a href="/perdidos"><img src="images/icones-mural/Branco/achados3.svg"
                    alt="Achados e Perdidos">Achados e Perdidos</a>
            <a href="/gerenciarPerfis"><img src="images/icones-mural/Branco/profile.svg" alt="Gerenciar Perfis">Gerenciar
                Perfis</a>
        </div>

        <!-- Nav Desktop -->
        <div class="sidebarDesktop">
            <div id="logo-nav">
                <a href="/inicio"><img src="images/logos-mural/logo-h-rosa.svg" alt="Mural"></a>
            </div>
            <div><a href="/inicio"><img src="images/icones-mural/Preto/home.svg" alt="Inicio">Início</a></div>
            <div><a href="/avisos"><img src="images/icones-mural/Preto/avisos.svg" alt="Avisos">Avisos</a></div>
            <div><a href="/ocorrencias"><img src="images/icones-mural/Preto/ocorrencias.svg"
                        alt="Ocorrencias">Ocorrências</a></div>
            <div><a href="/reservas"><img src="images/icones-mural/Preto/reservas.svg"
                        alt="Reservas">Reservas</a></div>
            <div><a href="/agenda"><img src="images/icones-mural/Preto/agenda.svg" alt="Agenda">Agenda</a></div>
            <div><a href="/enquetes"><img src="images/icones-mural/Preto/enquete.svg"
                        alt="Enquetes">Enquetes</a></div>
            <div><a href="/boleto"><img src="images/icones-mural/Preto/2via.svg" alt="2ª via do Condomínio">2ª via do
                    Condomínio</a>
            </div>
            <div><a href="/contas"><img src="images/icones-mural/Preto/contas2.svg"
                        alt="Prestação de Contas">Prestação de
                    Contas</a>
            </div>
            <div><a href="/perdidos"><img src="images/icones-mural/Preto/achados3.svg"
                        alt="Achados e Perdidos">Achados e
                    Perdidos</a>
            </div>
            <div><a href="/gerenciarPerfis"><img src="images/icones-mural/Preto/profile.svg" alt="Gerenciar Perfis">Gerenciar
                    Perfis</a>
            </div>
        </div>

        <!-- Conteudo -->

        <div class="feed-container">

            <!-- Header com Nav, Hendy e Titulo -->
            <header>
                <button class="menu-btn" onclick="openNav()">
                    <img src="images/icones-mural/Cinza/menu.svg" alt="Icone do menu">
                </button>

                <!-- Icone + Titulo da Pagina -->
                <div class="page-title-box">
                    <div class="page-title">
                        <img src="images/icones-mural/Cinza/avisos.svg" alt="Novo Post">
                        <span>Avisos</span>
                    </div>                    
                </div>

                <!-- Hendy -->
                <button class="profile-icon" onclick="profileDropdown()">
                    <img src="images/posts-mural/hendy-almeida.jpg" alt="Imagem de perfil">
                </button>
                <div id="profile-dropdown" class="modal">
                    <div class="profile-content">
                        <header class="account-header">
                            <div class="user-group">
                                <img src="images/posts-mural/hendy-almeida.jpg" alt="Imagem de perfil">
                                <div class="user-info">
                                    <p>Hendy Almeida</p>
                                    <span>Apartamento 1</span>
                                </div>
                            </div>
                        </header>
                        <div class="account-main">
                            <a href="/config"><img src="images/icones-mural/Cinza/settings.svg"
                                    alt="">Configurações</a>
                            <a href="/perfil"><img src="images/icones-mural/Cinza/user.svg" alt="">Ver meu perfil</a>
                        </div>
                        <div class="account-footer">
                            <hr>
                            <a href="/login"><img src="images/icones-mural/Cinza/log-out.svg" alt=""> Sair</a>
                        </div>
                    </div>
                </div>

            </header>

            <!-- Conteudo Principal -->
            <main>

                <!-- Divisória (parte do Titulo) -->
                <div class="page-title-linha-box"></div>

                <!-- Selecionar período -->
                <div class="cabecalho-periodo">
                    <div class="escolha-periodo">
                        <div class="periodo-text">
                            <span>De</span>
                        </div>
                        <div class="custom-select" id="select-tempo" style="width:200px;">
                            <select>
                            <option value="0">Início</option>
                            <option value="1">Jan/2020</option>
                            <option value="2">Fev/2020</option>
                            <option value="3">Mar/2020</option>
                            <option value="4">Abr/2020</option>
                            <option value="5">Mai/2020</option>
                            <option value="6">Jun/2020</option>
                            <option value="7">Jul/2020</option>
                            <option value="8">Ago/2020</option>
                            <option value="9">Set/2020</option>
                            <option value="10">Out/2020</option>
                            <option value="11">Nov/2020</option>
                            <option value="12">Dez/2020</option>
                            </select>
                        </div>
                        <div class="periodo-text">
                            <span>até</span>
                        </div>
                        <div class="custom-select" id="select-tempo" style="width:200px;">
                            <select>
                                <option value="0">Fim</option>
                                <option value="1">Jan/2020</option>
                                <option value="2">Fev/2020</option>
                                <option value="3">Mar/2020</option>
                                <option value="4">Abr/2020</option>
                                <option value="5">Mai/2020</option>
                                <option value="6">Jun/2020</option>
                                <option value="7">Jul/2020</option>
                                <option value="8">Ago/2020</option>
                                <option value="9">Set/2020</option>
                                <option value="10">Out/2020</option>
                                <option value="11">Nov/2020</option>
                                <option value="12">Dez/2020</option>
                            </select>
                        </div> 
                        <div class="custom-select" style="width:200px;">
                            <select>
                            <option value="0">Mostrar</option>
                            <option value="1">Todas</option>
                            <option value="2">Respondidas</option>
                            <option value="3">Em análise</option>
                            </select>
                        </div>
                        <button class="btn-group">Gerar relatório</button>  
                    </div>
                </div>

                <!-- Feed Principal -->
                <section class="lista-enquetes">
                    <div class="card ocorr">
                        <header>
                            <div class="user-group">
                                <img src="images/posts-mural/homem-jovem-cachecol.jpg" alt="Imagem de perfil">
                                <div class="user-info">
                                    <p>Pedro Henrique</p>
                                    <span>Apartamento 2</span>
                                </div>
                            </div>
                            <ol>
                                <li class="post-type">Aviso</li>
                                <li class="enquete-date">22/04/2020</li>
                            </ol>
                        </header>
                        <main>
                            <p class="post-text">
                                Prezados, informo que a luz do corredor do 2º andar está queimada. No aguardo de providências.
                            </p>
                        </main>
                    </div>
                    <div class="card ocorr">
                        <header>
                            <div class="user-group">
                                <img src="images/posts-mural/mulher-idosa-floral.jpg" alt="Imagem de perfil">
                                <div class="user-info">
                                    <p>Silvana Aparecida</p>
                                    <span>Apartamento 223</span>
                                </div>
                            </div>
                            <ol>
                                <li class="post-type">Aviso</li>
                                <li class="enquete-date">09/04/2020</li>
                            </ol>
                        </header>
                        <main>
                            <p class="post-text">
                                Hoje pela manhã, desci até a garagem e o vidro lateral do meu carro estava quebrado. Exijo providências do condomínio!
                            </p>
                        </main>
                    </div>
                    <div class="card ocorr">
                        <header>
                            <div class="user-group">
                                <img src="images/posts-mural/homem-jovem-chapeu.jpg">
                                <div class="user-info">
                                    <p>José Dirceu</p>
                                    <span>Apartamento 81</span>
                                </div>
                            </div>
                            <ol>
                                <li class="post-type">Aviso</li>
                                <li class="enquete-date">22/03/2020</li>
                            </ol>
                        </header>
                        <main>
                            <p class="post-text">
                                Na noite de ontem não consegui dormir devido à festa que a vizinha do 207 estava fazendo. Interfonei na portaria para que algo fosse feito. Nada aconteceu. Fui pessoalmente até o apartamento pedir a compreensão do vizinho, especialmente porque era quinta-feira e todo mundo trabalha ou estuda na sexta-feira logo cedo. Novamente, pedido ignorado. 
                            </p>
                        </main>
                    </div>
                    <div class="card ocorr">
                        <header>
                            <div class="user-group">
                                <img src="images/posts-mural/mulher-idosa-chapeuVermelho.jpg" alt="Imagem de perfil">
                                <div class="user-info">
                                    <p>Maria da Silva</p>
                                    <span>Apartamento 212</span>
                                </div>
                            </div>
                            <ol>
                                <li class="post-type">Aviso</li>
                                <li class="enquete-date">17/03/2020</li>
                            </ol>
                        </header>
                        <main>
                            <p class="post-text">
                                Hoje pela tarde estava tentando ao máximo concentrar-me nos meus estudos, mas os dois cachorros do vizinho (apto. 222) não paravam de latir e brigar entre si na tentativa de abrir a porta.
                                Os latidos continuaram durante toda a tarde e noite, de forma que não consegui dormir.
                            </p>
                        </main>
                    </div>
                    
                </section>

            </main>
        </div>

        <!-- Modais -->
        <div id="open-modal" class="modal"></div>
    </div>
</body>
</html>