<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script defer src="javascripts/script.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <title><%= pageTitle %></title>
</head>

<body>
    <!-- DIV PAI DE TODAS -->
    <div class="container">
        <!-- Fundo escuro do modal -->
        <div id="background-modal" onclick="toggleBackgroundModal()"></div>

        <%- include('./partials/navbar') %>

        <!-- Main Content -->

        <div class="feed-container">

            <!-- Header com Nav, Hendy e Titulo -->
            <header>
                <!-- Botão Nav-Mobile -->
                <button class="menu-btn" onclick="openNav()">
                    <img src="images/icones-mural/Cinza/menu.svg" alt="Icone do menu">
                </button>

                <!-- Icone + Titulo da Pagina -->
                <%- include('./partials/pageTitle') %>

                <!-- Hendy -->
                <%- include('./partials/hendy') %>
            </header>


            <!-- Conteudo Principal -->
            <main>                
                <section class="settings">

                    <!-- Divisória (parte do Titulo) -->
                    <div class="page-title-linha"></div>

                    <!-- Configurações -->
                    <div class="profile-pic">
                        <div>
                            <img src="images/posts-mural/mulher-idosa-chapeuVermelho.jpg" alt="">
                        </div>
                        <div>
                            <p>Nome Completo</p>
                            <a href="#">Editar Foto</a>
                        </div>
                    </div>

                    <div class="profile-info">
                        <div class="header">
                            <div><p>Configurações de Perfil</p></div>
                            <div><p>Deixar Público</p></div>                            
                        </div>
                        <form action="">
                            <div class="form-group">
                                <div class="esq">
                                    <label for="...">Nome Completo</label><br>
                                    <input type="text">
                                </div>
                                <div class="dir">
                                    <label class="switch">
                                        <input type="checkbox" checked>
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="esq">
                                    <label for="...">E-mail</label><br>
                                    <input type="text">
                                </div>
                                <div class="dir">
                                    <label class="switch">
                                        <input type="checkbox" checked>
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div> 
                            <div class="form-group">
                                <div class="esq">
                                    <label for="...">Telefone</label><br>
                                    <input type="text">
                                </div>
                                <div class="dir">
                                    <label class="switch">
                                        <input type="checkbox" checked>
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="esq">
                                    <label for="senha">Senha</label><br>
                                    <input type="password" value="mural_123" id="senha">
                                </div>
                                <div class="dir-senha">
                                    <input type="checkbox" id="versenha" onclick="mostrarSenha()"><label for="versenha">Mostrar</label>
                                </div>
                            </div>                          
                            <div class="form-group-btn">
                                <button class="cancelar" type="reset">Cancelar</button>
                                <button class="salvar" type="submit">Salvar</button>
                            </div>
                            
                        </form>
                    </div>

                    <div class="profile-info">
                        <div class="header">
                            <div><p>Convidar novo morador</p></div>                                                   
                        </div>
                        <form action="">
                            <div class="form-group">
                                <div class="esq">
                                    <label for="...">E-mail</label><br>
                                    <input type="text">
                                </div>
                                <div class="dir enviar">
                                    <button class="salvar" type="submit">Enviar</button>
                                </div>
                            </div>                        
                        </form>
                    </div>

                    <div class="profile-info">
                        <div class="header">
                            <div><p>Gerenciar Moradores</p></div>                                                   
                        </div>
                        <div class="morador">
                            <div>
                                <img src="images/posts-mural/mulher-meiaidade-lenço.jpg" alt="">
                            </div>
                            
                            <div>
                                <h3>Maria de Lurdes Silva</h3>
                                <a href="#">Excluir</a>
                            </div>
                        </div>
                        <div class="morador">
                            <div>
                                <img src="images/posts-mural/homem-idoso-barba.jpg" alt="">
                            </div>
                            
                            <div>
                                <h3>Donatelo Silva e Silva</h3>
                                <a href="#">Excluir</a>
                            </div>
                        </div>
                        <div class="morador">
                            <div>
                                <img src="images/posts-mural/homem-jovem-chapeu.jpg" alt="">
                            </div>
                            
                            <div>
                                <h3>Luis Inacio</h3>
                                <a href="#">Excluir</a>
                            </div>
                        </div>

                    </div>               

                </section>

            </main>
        </div>

        <!-- Modais -->
        <div id="open-modal" class="modal"></div>
    </div>
</body>
</html>