<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script defer src="javascripts/script.js"></script>
    <script defer src="javascripts/carousel.js"></script>
    <script defer src="javascripts/select-box.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <title><%= pageTitle %></title>

    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['corechart']
        });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Mês', 'Orçamento', 'Água', 'Luz', 'Gás', 'Manutenção'],
                ['jan', 100000, 10000, 19026, 9868, 19856],
                ['fev', 110360, 11365, 26365, 7898, 32654],
                ['mar', 90563, 11202, 29568, 6989, 12589],
                ['abr', 89636, 5406, 18568, 2003, 19865],
                ['mai', 96566, 5409, 17654, 5665, 15896],
                ['jun', 98458, 9869, 15898, 7896, 17896],
                ['jul', 105900, 8756, 14896, 6986, 32659],
                ['ags', 101002, 9865, 17896, 8965, 21365],
                ['set', 95896, 11365, 14369, 9865, 22365],
                ['out', 96566, 10598, 15986, 6065, 23698],
                ['nov', 99587, 15658, 16598, 5698, 23565],
                ['dez', 102000, 12365, 18986, 4562, 24598]
            ]);

            var options = {
                title: ' ',
                curveType: 'function',
                legend: {
                    position: 'bottom'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['corechart']
        });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Mês', 'Orçamento', 'Água', 'Luz', 'Gás', 'Manutenção'],
                ['jan', 100000, 10000, 19026, 9868, 19856],
                ['fev', 110360, 11365, 26365, 7898, 32654],
                ['mar', 90563, 11202, 29568, 6989, 12589],
                ['abr', 89636, 5406, 18568, 2003, 19865],
                ['mai', 96566, 5409, 17654, 5665, 15896],
                ['jun', 98458, 9869, 15898, 7896, 17896],
                ['jul', 105900, 8756, 14896, 6986, 32659],
                ['ags', 101002, 9865, 17896, 8965, 21365],
                ['set', 95896, 11365, 14369, 9865, 22365],
                ['out', 96566, 10598, 15986, 6065, 23698],
                ['nov', 99587, 15658, 16598, 5698, 23565],
                ['dez', 102000, 12365, 18986, 4562, 24598]
            ]);

            var options = {
                title: ' ',
                curveType: 'function',
                legend: {
                    position: 'bottom'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chartMobile'));

            chart.draw(data, options);
        }
    </script>


</head>

<body>
    <!-- DIV PAI DE TODAS -->
    <div class="container">
        <!-- Fundo escuro do modal -->
        <div id="background-modal" onclick="toggleBackgroundModal()"></div>

        <%- include('./partials/navbar') %>

        <!-- Conteudo -->

        <div class="feed-container">

            <!-- Header com Nav, Hendy e Titulo -->
            <header>
                <button class="menu-btn" onclick="openNav()">
                    <img src="images/icones-mural/Cinza/menu.svg" alt="Icone do menu">
                </button>

                <!-- Icone + Titulo da Pagina -->
                <%- include('./partials/pageTitle') %>

                <!-- Hendy -->
                <%- include('./partials/hendy') %>
            </header>

            <!-- Conteudo Principal -->
            <main>

                <!-- Divisória (parte do Titulo) -->
                <div class="page-title-linha-box"></div>

                <!-- Selecionar período -->
                <div class="cabecalho-periodo">
                    <div class="escolha-periodo">
                        <div class="form-group">
                            <label for="de">De</label>
                            <div class="custom-select" id="select-tempo-de">
                                <select name="de">
                                    <option value="0">Início</option>
                                    <option value="1">Jan/2020</option>
                                    <option value="2">Fev/2020</option>
                                    <option value="3">Mar/2020</option>
                                    <option value="4">Abr/2020</option>
                                    <option value="5">Mai/2020</option>
                                    <option value="6">Jun/2020</option>
                                    <option value="7">Jul/2020</option>
                                    <option value="8">Ago/2020</option>
                                    <option value="9">Set/2020</option>
                                    <option value="10">Out/2020</option>
                                    <option value="11">Nov/2020</option>
                                    <option value="12">Dez/2020</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ate">Até</label>
                            <div class="custom-select" id="select-tempo-ate">
                                <select name="ate">
                                    <option value="0">Fim</option>
                                    <option value="1">Jan/2020</option>
                                    <option value="2">Fev/2020</option>
                                    <option value="3">Mar/2020</option>
                                    <option value="4">Abr/2020</option>
                                    <option value="5">Mai/2020</option>
                                    <option value="6">Jun/2020</option>
                                    <option value="7">Jul/2020</option>
                                    <option value="8">Ago/2020</option>
                                    <option value="9">Set/2020</option>
                                    <option value="10">Out/2020</option>
                                    <option value="11">Nov/2020</option>
                                    <option value="12">Dez/2020</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="visualizar">Visualizar</label>
                            <div class="custom-select">
                                <select name="visualizar">
                                    <option value="0">Todos</option>
                                    <option value="1">Orçamento</option>
                                    <option value="2">Água</option>
                                    <option value="3">Luz</option>
                                    <option value="4">Gás</option>
                                    <option value="5">Manutenção</option>
                                </select>
                            </div>
                        </div>
                            
                        <div class="form-group mobileBlock">
                            <button class="btn-group"><a href="/editar-gastos">Editar Gastos</a></button>
                        </div>

                        <div class="form-group mobileBlock">
                            <button class="btn-group" onclick="openModal('nova-enquete')">Gerenciar Dados</button>
                        </div>

                    </div>
                </div>
            </main>

            <div id="curve_chart" class="curve_contas"></div>
            <div id="curve_chartMobile" class="curve_contasMobile"></div>

        </div>

        <!-- Modais -->
        <div id="open-modal" class="modal">
            <div id="nova-enquete" class="enquete">
                <div class="enquete__header">
                    <h2 class="enquete__heading">relato de ocorrências</h2>
                    <i class="enquete__icon" data-feather="x"></i>
                </div>

                <div class="enquete__body">
                    <div class="escolha-periodo">

                        <div class="enquete__periodo">
                            <div class="periodo-text">
                                <span class="enquete__option">De</span>
                            </div>

                            <div class="custom-select enquete__select" style="width:200px;">
                                <select>
                                    <option value="0">Início</option>
                                    <option value="1">Jan/2020</option>
                                    <option value="2">Fev/2020</option>
                                    <option value="3">Mar/2020</option>
                                    <option value="4">Abr/2020</option>
                                    <option value="5">Mai/2020</option>
                                    <option value="6">Jun/2020</option>
                                    <option value="7">Jul/2020</option>
                                    <option value="8">Ago/2020</option>
                                    <option value="9">Set/2020</option>
                                    <option value="10">Out/2020</option>
                                    <option value="11">Nov/2020</option>
                                    <option value="12">Dez/2020</option>
                                </select>
                            </div>
                        </div>

                        <div class="enquete__periodo">
                            <div class="periodo-text">
                                <span class="enquete__option">Até</span>
                            </div>

                            <div class="custom-select enquete__select" style="width:200px;">
                                <select>
                                    <option value="0">Fim</option>
                                    <option value="1">Jan/2020</option>
                                    <option value="2">Fev/2020</option>
                                    <option value="3">Mar/2020</option>
                                    <option value="4">Abr/2020</option>
                                    <option value="5">Mai/2020</option>
                                    <option value="6">Jun/2020</option>
                                    <option value="7">Jul/2020</option>
                                    <option value="8">Ago/2020</option>
                                    <option value="9">Set/2020</option>
                                    <option value="10">Out/2020</option>
                                    <option value="11">Nov/2020</option>
                                    <option value="12">Dez/2020</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <h2 class="enquete__heading enquete__heading--radio">Selecione:</h2>

                    <ul class="enquete__list enquete__list--radio">
                        <li class="enquete__item enquete__item--radio">


                            <div class="enquete__inputs enquete__inputs--radio">
                                <input type="radio" name="tipo-ocorrencia" id="orcamento"
                                    class="enquete__input enquete__input--radio">
                                <label for="orcamento"
                                    class="enquete__option enquete__option--bold">Orçamento</label>
                            </div>

                        </li>

                        <li class="enquete__item enquete__item--radio">


                            <div class="enquete__inputs enquete__inputs--radio">
                                <input type="radio" name="tipo-ocorrencia" id="agua"
                                    class="enquete__input enquete__input--radio">
                                <label for="agua" class="enquete__option enquete__option--bold">Água</label>
                            </div>

                        </li>

                        <li class="enquete__item enquete__item--radio">


                            <div class="enquete__inputs enquete__inputs--radio">
                                <input type="radio" name="tipo-ocorrencia" id="luz"
                                    class="enquete__input enquete__input--radio">
                                <label for="luz" class="enquete__option enquete__option--bold">Luz</label>
                            </div>

                        </li>

                        <li class="enquete__item enquete__item--radio">
                            <div class="enquete__inputs enquete__inputs--radio">
                                <input type="radio" name="tipo-ocorrencia" id="gas"
                                    class="enquete__input enquete__input--radio">
                                <label for="gas" class="enquete__option enquete__option--bold">Gás</label>
                            </div>
                        </li>

                        <li class="enquete__item enquete__item--radio">
                            <div class="enquete__inputs enquete__inputs--radio">
                                <input type="radio" name="tipo-ocorrencia" id="manutencao"
                                    class="enquete__input enquete__input--radio">
                                <label for="manutencao"
                                    class="enquete__option enquete__option--bold">Manutenção</label>
                            </div>
                        </li>

                        <li class="enquete__item enquete__item--radio">
                            <div class="enquete__inputs enquete__inputs--radio">
                                <input type="radio" name="tipo-ocorrencia" id="outros"
                                    class="enquete__input enquete__input--radio">
                                <label for="outros" class="enquete__option enquete__option--bold">Outros</label>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="enquete__actions">
                    <button class="enquete__button enquete__button--back">Cancelar</button>
                    <button class="enquete__button">Salvar</button>
                </div>

            </div>
        </div>

    </div>

    </div>
    <script>
        feather.replace()
    </script>
</body>

</html>