<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script defer src="javascripts/script.js"></script>
    <script defer src="javascripts/carousel.js"></script>
    <script defer src="javascripts/select-box.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link rel="stylesheet" href="stylesheets/editarGastos.css">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <title><%= pageTitle %></title>
</head>

<body>
    <!-- DIV PAI DE TODAS -->
    <div class="container">
        <!-- Fundo escuro do modal -->
        <div id="background-modal" onclick="toggleBackgroundModal()"></div>

        <%- include('./partials/navbar') %>

        <!-- Conteudo -->

        <div class="feed-container">

            <!-- Header com Nav, Hendy e Titulo -->
            <header>
                <button class="menu-btn" onclick="openNav()">
                    <img src="images/icones-mural/Cinza/menu.svg" alt="Icone do menu">
                </button>

                <!-- Icone + Titulo da Pagina -->
                <%- include('./partials/pageTitle') %>

                <!-- Hendy -->
                <%- include('./partials/hendy') %>
            </header>

            <!-- Conteudo Principal -->
            <main>
              <!-- Divisória (parte do Titulo) -->
              <div class="page-title-linha-box"></div>

              <div class="period">
                <div class="escolha-periodo period__escolha-periodo">

                  <div class="enquete__periodo period__periodo">
                      <div class="periodo-text period__text">
                          <span class="enquete__option period__option">Período</span>
                      </div>

                      <div class="custom-select enquete__select period__select" style="width:200px;">
                          <select>
                              <option value="0">Início</option>
                              <option value="1">Jan/2020</option>
                              <option value="2">Fev/2020</option>
                              <option value="3">Mar/2020</option>
                              <option value="4">Abr/2020</option>
                              <option value="5">Mai/2020</option>
                              <option value="6">Jun/2020</option>
                              <option value="7">Jul/2020</option>
                              <option value="8">Ago/2020</option>
                              <option value="9">Set/2020</option>
                              <option value="10">Out/2020</option>
                              <option value="11">Nov/2020</option>
                              <option value="12">Dez/2020</option>
                          </select>
                      </div>
                  </div>
              </div>
              <button class="enquete__button period__button">Adicionar Tipo de Custo</button>
            </div>

            <form class="form">

              <div class="form-container">
                <div class="form__input-group">
                  <div class="form__input-type">
                    <span class="form__subtitle"></span>
                    <p class="form__text">orçamento</p>
                  </div>
                  <input type="text" name="" class="form__input" placeholder="Digite o valor...">
                </div>
    
                <div class="form__input-group">
                  <div class="form__input-type">
                    <span class="form__subtitle form__subtitle--blue"></span>
                    <p class="form__text">água</p>
                  </div>
                  <input type="text" name="" class="form__input" placeholder="Digite o valor...">
                </div>
                
                <div class="form__input-group">
                  <div class="form__input-type">
                    <span class="form__subtitle form__subtitle--yellow"></span>
                    <p class="form__text">luz</p>
                  </div>
                  <input type="text" name="" class="form__input" placeholder="Digite o valor...">
                </div>
                
                <div class="form__input-group">
                  <div class="form__input-type">
                    <span class="form__subtitle form__subtitle--pink"></span>
                    <p class="form__text">gás</p>
                  </div>
                  <input type="text" name="" class="form__input" placeholder="Digite o valor...">
                </div>
                
                <div class="form__input-group">
                  <div class="form__input-type">
                    <span class="form__subtitle form__subtitle--red"></span>
                    <p class="form__text">manutenção</p>
                  </div>
                  <input type="text" name="" class="form__input" placeholder="Digite o valor...">
                </div>
                
                <div class="form__input-group">
                  <div class="form__input-type">
                    <span class="form__subtitle form__subtitle--blue-green"></span>
                    <p class="form__text">outros</p>
                  </div>
                  <input type="text" name="" class="form__input" placeholder="Digite o valor...">
                </div>
              </div>

              <div class="enquete__actions form__actions">
                <button class="enquete__button enquete__button--back">Cancelar</button>
                <button class="enquete__button">Salvar</button>
              </div>

            </form>
          </main>

        </div>
        <script>
            feather.replace()
        </script>
</body>

</html>