<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script defer src="javascripts/script.js"></script>
    <script defer src="javascripts/select-box.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <title><%= pageTitle %></title>
</head>

<body>
    <!-- DIV PAI DE TODAS -->
    <div class="container">
        <!-- Fundo escuro do modal -->
        <div id="background-modal" onclick="toggleBackgroundModal()"></div>

        <%- include('./partials/navbar') %>
        <!-- Main Content -->

        <div class="feed-container">
            <!-- Header com Nav, Hendy e Titulo -->
            <header>
                <!-- Botão Nav-Mobile -->
                <button class="menu-btn" onclick="openNav()">
                    <img src="images/icones-mural/Cinza/menu.svg" alt="Icone do menu">
                </button>

                <!-- Icone + Titulo da Pagina -->
                <%- include('./partials/pageTitle') %>

                <!-- Hendy -->
                <%- include('./partials/hendy') %>

            </header>

            <!-- Conteudo Principal -->
            <main>
                <!-- Divisória (parte do Titulo) -->
                <div class="page-title-linha"></div>
                
                <section class="gerenciar-perfis">                   

                <div class="gp-section">
                    <h2>Convidar Novo Morador</h2>
                </div>
                <form class="gp-convidar" action="">
                    <div class="gp-direita">
                    <label for="email">E-mail</label>
                    <input type="email"> 
                    </div>
                    <div class="gp-esquerda">
                    <label for="apartamento">Apartamento</label>
                    <div class="" id="" style="width:200px;">
                        <select>
                        <option value="0">102</option>
                        <option value="1">204</option>
                        <option value="2">708</option>
                        </select>
                    </div>
                    </div>
                    <div class="gp-botao">
                        <button type="submit">Enviar</button>
                    </div>                                           
                </form>

                <div class="gp-section">
                    <h2>Gerenciar Moradores</h2>                    
                </div>

                <form action="" class="gp-convidar">
                    <div class="gp-esquerda">
                    <label for="">Apartamento</label>
                    <div class="" id="" style="width:200px;">
                        <select>
                        <option value="0">102</option>
                        <option value="1">204</option>
                        <option value="2">708</option>
                        </select>
                    </div>
                    </div>

                    <div class="gp-botao-2">
                        <button type="submit">Selecionar</button>
                    </div>
                </form>

                <div class="profile-info">                    
                    <div class="morador">
                        <div>
                            <img src="images/posts-mural/mulher-meiaidade-lenço.jpg" alt="">
                        </div>
                        
                        <div>
                            <h3>Maria de Lurdes Silva</h3>
                            <a href="#">Excluir</a>
                        </div>
                    </div>
                    <div class="morador">
                        <div>
                            <img src="images/posts-mural/homem-idoso-barba.jpg" alt="">
                        </div>
                        
                        <div>
                            <h3>Donatelo Silva e Silva</h3>
                            <a href="#">Excluir</a>
                        </div>
                    </div>
                    <div class="morador">
                        <div>
                            <img src="images/posts-mural/homem-jovem-chapeu.jpg" alt="">
                        </div>
                        
                        <div>
                            <h3>Luis Inacio</h3>
                            <a href="#">Excluir</a>
                        </div>
                    </div>

                </div> 




                </section>
            </main>
        </div>

        <!-- Modais -->
        <div id="open-modal" class="modal"></div>
    </div>
</body>
</html>