<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>MURAL</h1>
    <p> AQUI É TIME MURAL CARAI </p>
  </body>
</html>
