<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script defer src="javascripts/script.js"></script>
    <script defer src="javascripts/carousel.js"></script>
    <script defer src="javascripts/select-box.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <title>Agenda</title>
</head>

<body>
    <!-- DIV PAI DE TODAS -->
    <div class="container">
        <!-- Fundo escuro do modal -->
        <div id="background-modal" onclick="toggleBackgroundModal()"></div>

        <%- include('./partials/navbar') %>

        <!-- Conteudo -->
        <div class="feed-container">

            <!-- Header com Nav, Hendy e Titulo -->
            <header>
                <button class="menu-btn" onclick="openNav()">
                    <img src="images/icones-mural/Cinza/menu.svg" alt="Icone do menu">
                </button>

                <!-- Icone + Titulo da Pagina -->
                <%- include('./partials/pageTitle', { pageTitle: 'Agenda',
                pageIcon: 'agenda.svg' }) %>

                <!-- Hendy -->
                <%- include('./partials/hendy') %>
            </header>

            <!-- Divisória (parte do Titulo) -->
            <div class="page-title-linha-box"></div>

            <!-- Calendário -->
            <%- include('./partials/calendario', { pageTitle: 'Agenda' }) %>

        </div>

        <!-- Modais -->
        <div id="open-modal" class="modal">
            <!-- Modal Novo Post -->
            <div id="idmodal-agenda" class="modalInterno">
                <h1>Novo evento</h1>
                <div class="new-foto-mensagem nome-evento">
                    <img src="images/posts-mural/homem-meiaidade-boina.jpg">
                    <textarea name="mensagem" id="mensagem" rows="2"></textarea>
                </div>

                <div class="new-cancel-send">
                    <button class="cancelar" type="reset">Cancelar</button>
                    <button class="enviar-modal-novo" type="submit">Adicionar</button>
                </div>
            </div>

            <div id="idmodal-agendaMob" class="modalInterno">
                <h1>Novo evento</h1>
                <div class="new-foto-mensagem nome-evento">
                    <img src="images/posts-mural/homem-meiaidade-boina.jpg">
                    <textarea name="mensagem" id="mensagem" rows="2"></textarea>
                </div>


                <div class="new-cancel-send">
                    <button class="cancelar" type="reset">Cancelar</button>
                    <button class="enviar-modal-novo" type="submit">Adicionar</button>
                </div>
            </div>
        </div>

    </div>
</body>

</html>