<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script defer src="javascripts/script.js"></script>
    <script defer src="javascripts/carousel.js"></script>
    <script defer src="javascripts/select-box.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <title>2ª Via do Condomínio</title>
</head>

<body>
    <!-- DIV PAI DE TODAS -->
    <div class="container">
        <!-- Fundo escuro do modal -->
        <div id="background-modal" onclick="toggleBackgroundModal()"></div>

        <%- include('./partials/navbar') %>

        <!-- Conteudo -->

        <div class="feed-container">

            <!-- Header com Nav, Hendy e Titulo -->
            <header>
                <button class="menu-btn" onclick="openNav()">
                    <img src="images/icones-mural/Cinza/menu.svg" alt="Icone do menu">
                </button>

                <!-- Icone + Titulo da Pagina -->
                <%- include('./partials/pageTitle', { pageTitle: '2ª Via do Condomínio',
                pageIcon: '2via.svg' }) %>

                <!-- Hendy -->
                <%- include('./partials/hendy') %>
            </header>

            <!-- Conteudo Principal -->
            <main>

                <!-- Divisória (parte do Titulo) -->
                <div class="page-title-linha-box"></div>

                <section class="boleto">
                    <h1>Atenção</h1>
                    <p>Por razões de segurança, o Mural não gera nenhum boleto. Dessa forma apenas redirecionamos você
                        para o respectivo site da empresa. Mais etapas podem ser necessárias para a conclusão do
                        processo, como por exemplo, login e senha.</p>
                    <a href="#">
                        <button class="enviar-modal-novo">Acessar página da administradora</button>
                    </a>
                </section>

            </main>
        </div>

        <!-- Modais -->
        <div id="open-modal" class="modal"></div>
    </div>
</body>

</html>