<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script defer src="javascripts/script.js"></script>
    <script defer src="javascripts/carousel.js"></script>
    <!-- <script defer src="javascripts/select-box.js"></script> -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link 
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"    rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"
    >
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    
    <title><%= pageTitle %></title>
</head>

<body>
    <!-- DIV PAI DE TODAS -->
    <div class="container">
        <!-- Fundo escuro do modal -->
        <div id="background-modal" onclick="toggleBackgroundModal()"></div>

        <%- include('./partials/navbar') %>

        <!-- Conteudo -->

        <div class="feed-container">

            <!-- Header com Nav, Hendy e Titulo -->
            <header>
                <button class="menu-btn" onclick="openNav()">
                    <img src="images/icones-mural/Cinza/menu.svg" alt="Icone do menu">
                </button>

                <!-- Icone + Titulo da Pagina -->
                <%- include('./partials/pageTitle') %>

                <!-- Hendy -->
                <%- include('./partials/hendy') %>
            </header>

            <!-- Divisória (parte do Titulo) -->
            <div class="page-title-linha-box"></div>

            <!-- Enquetes -->
            <div class="cabecalho-periodo">
                <div class="escolha-periodo">
                    <div class="periodo-text">
                        <span>De</span>
                    </div>
                    <div class="custom-select" id="select-tempo" style="width:200px;">
                        <select>
                            <option value="0">Início</option>
                            <option value="1">Jan/2020</option>
                            <option value="2">Fev/2020</option>
                            <option value="3">Mar/2020</option>
                            <option value="4">Abr/2020</option>
                            <option value="5">Mai/2020</option>
                            <option value="6">Jun/2020</option>
                            <option value="7">Jul/2020</option>
                            <option value="8">Ago/2020</option>
                            <option value="9">Set/2020</option>
                            <option value="10">Out/2020</option>
                            <option value="11">Nov/2020</option>
                            <option value="12">Dez/2020</option>
                        </select>
                    </div>
                    <div class="periodo-text">
                        <span>até</span>
                    </div>
                    <div class="custom-select" id="select-tempo" style="width:200px;">
                        <select>
                            <option value="0">Fim</option>
                            <option value="1">Jan/2020</option>
                            <option value="2">Fev/2020</option>
                            <option value="3">Mar/2020</option>
                            <option value="4">Abr/2020</option>
                            <option value="5">Mai/2020</option>
                            <option value="6">Jun/2020</option>
                            <option value="7">Jul/2020</option>
                            <option value="8">Ago/2020</option>
                            <option value="9">Set/2020</option>
                            <option value="10">Out/2020</option>
                            <option value="11">Nov/2020</option>
                            <option value="12">Dez/2020</option>
                        </select>
                    </div>
                    <a href="javascript:void(0)" onclick="openModal('nova-enquete')">
                        <button class="btn-group">Nova Enquete</button>
                    </a>
                </div>
            </div>
            <!-- Conteudo Principal -->
            <main>
                <!-- Feed Principal -->
                <section class="lista-enquetes">
                    <div class="card enquete">
                        <header>
                            <div class="user-group">
                                <img src="images/posts-mural/homem-meiaidade-boina.jpg" alt="Imagem de perfil">
                                <div class="user-info">
                                    <p>Síndico</p>
                                </div>
                            </div>
                            <ol>
                                <li class="post-type">Enquete</li>
                                <li class="enquete-date vigor">expira em 04/06/2020</li>
                            </ol>
                        </header>
                        <main>
                            <p class="post-text">
                                Estamos avaliando a possibilidade de contratação de um personal trainer para os
                                moradores do nosso condomínio. Você teria interesse?
                            </p>
                            <div class="dados-enquete">
                                <input type="radio" name="escolha-enquete1" id="opcao-enquete" value="opcao"><label
                                    for="opcao">Sim</label>
                            </div>
                            <div class="dados-enquete">
                                <input type="radio" name="escolha-enquete1" id="opcao-enquete" value="opcao"><label
                                    for="opcao">Não</label>
                            </div>
                        </main>
                        <footer>
                            <div class="btn-group">
                                <button class="btn-comment">Resultado parcial</button>
                                <button class="btn-like">Votar</button>
                            </div>
                        </footer>
                    </div>
                    <div class="card enquete">
                        <header>
                            <div class="user-group">
                                <img src="images/posts-mural/homem-meiaidade-boina.jpg" alt="Imagem de perfil">
                                <div class="user-info">
                                    <p>Síndico</p>
                                </div>
                            </div>
                            <ol>
                                <li class="post-type">Enquete</li>
                                <li class="enquete-date">encerrado em 09/03/2020</li>
                            </ol>
                        </header>
                        <main>
                            <p class="post-text">
                                Recebemos algumas mensagens para criarmos uma horta comunitária. Você teria interesse?
                            </p>
                            <div class="dados-enquete">
                                <input type="radio" name="escolha-enquete4" id="opcao-enquete" value="opcao"><label
                                    for="opcao">Sim</label>
                                <div class="barra-container">
                                    <div class="valor-enquete" style="width:80%">80%</div>
                                </div>
                            </div>
                            <div class="dados-enquete">
                                <input type="radio" name="escolha-enquete4" id="opcao-enquete" value="opcao"><label
                                    for="opcao">Não</label>
                                <div class="barra-container">
                                    <div class="valor-enquete" style="width:20%">20%</div>
                                </div>
                            </div>
                        </main>
                    </div>
                    <div class="card enquete">
                        <header>
                            <div class="user-group">
                                <img src="images/posts-mural/homem-meiaidade-boina.jpg" alt="Imagem de perfil">
                                <div class="user-info">
                                    <p>Síndico</p>
                                </div>
                            </div>
                            <ol>
                                <li class="post-type">Enquete</li>
                                <li class="enquete-date">encerrado em 09/03/2020</li>
                            </ol>
                        </header>
                        <main>
                            <p class="post-text">
                                Você gostaria de uma feirinha no condomínio? Desse modo, evitariamos aglomerações
                                externas durante a quarentena.
                            </p>
                            <div class="dados-enquete">
                                <input type="radio" name="escolha-enquete3" id="opcao-enquete" value="opcao"><label
                                    for="opcao">Sim, em fins de semana</label>
                                <div class="barra-container">
                                    <div class="valor-enquete" style="width:40%">40%</div>
                                </div>
                            </div>
                            <div class="dados-enquete">
                                <input type="radio" name="escolha-enquete3" id="opcao-enquete" value="opcao"><label
                                    for="opcao">Sim, em dias de semana </label>
                                <div class="barra-container">
                                    <div class="valor-enquete" style="width:30%">30%</div>
                                </div>
                            </div>
                            <div class="dados-enquete">
                                <input type="radio" name="escolha-enquete3" id="opcao-enquete" value="opcao"><label
                                    for="opcao">Não</label>
                                <div class="barra-container">
                                    <div class="valor-enquete" style="width:30%">30%</div>
                                </div>
                            </div>
                        </main>
                    </div>
                    <div class="card enquete">
                        <header>
                            <div class="user-group">
                                <img src="images/posts-mural/homem-meiaidade-boina.jpg" alt="Imagem de perfil">
                                <div class="user-info">
                                    <p>Síndico</p>
                                </div>
                            </div>
                            <ol>
                                <li class="post-type">Enquete</li>
                                <li class="enquete-date">encerrado em 09/03/2020</li>
                            </ol>
                        </header>
                        <main>
                            <p class="post-text">
                                Vamos reformar a Brinquedoteca e temos 3 sugestões de cores. Qual você prefere?
                            </p>
                            <div class="dados-enquete">
                                <input type="radio" name="escolha-enquete2" id="opcao-enquete" value="opcao"><label
                                    for="opcao">Rosa</label>
                                <div class="barra-container">
                                    <div class="valor-enquete" style="width:22%">23%</div>
                                </div>
                            </div>
                            <div class="dados-enquete">
                                <input type="radio" name="escolha-enquete2" id="opcao-enquete" value="opcao"><label
                                    for="opcao">Verde</label>
                                <div class="barra-container">
                                    <div class="valor-enquete" style="width:50%">50%</div>
                                </div>
                            </div>
                            <div class="dados-enquete">
                                <input type="radio" name="escolha-enquete2" id="opcao-enquete" value="opcao"><label
                                    for="opcao">Azul</label>
                                <div class="barra-container">
                                    <div class="valor-enquete" style="width:25%">27%</div>
                                </div>
                            </div>
                        </main>
                    </div>
                </section>

            </main>
        </div>

        <!-- Modais -->
        <div id="open-modal" class="modal modal-novo-post">
            <div id="nova-enquete" class="enquete">

                <div class="enquete__header">
                    <h2 class="enquete__heading">nova enquete</h2>
                    <i class="enquete__icon" data-feather="x"></i>
                </div>
                
                <div class="enquete__body">
                    <div class="escolha-periodo">

                        <div class="enquete__periodo">
                            <div class="periodo-text">
                                <span class="enquete__option">De</span>
                            </div>
        
                            <div class="custom-select enquete__select">
                                <select>
                                    <option value="0">Início</option>
                                    <option value="1">Jan/2020</option>
                                    <option value="2">Fev/2020</option>
                                    <option value="3">Mar/2020</option>
                                    <option value="4">Abr/2020</option>
                                    <option value="5">Mai/2020</option>
                                    <option value="6">Jun/2020</option>
                                    <option value="7">Jul/2020</option>
                                    <option value="8">Ago/2020</option>
                                    <option value="9">Set/2020</option>
                                    <option value="10">Out/2020</option>
                                    <option value="11">Nov/2020</option>
                                    <option value="12">Dez/2020</option>
                                </select>
                            </div>
                        </div>
    
                        <div class="enquete__periodo">
                            <div class="periodo-text">
                                <span class="enquete__option">Até</span>
                            </div>
        
                            <div class="custom-select enquete__select">
                                <select>
                                    <option value="0">Fim</option>
                                    <option value="1">Jan/2020</option>
                                    <option value="2">Fev/2020</option>
                                    <option value="3">Mar/2020</option>
                                    <option value="4">Abr/2020</option>
                                    <option value="5">Mai/2020</option>
                                    <option value="6">Jun/2020</option>
                                    <option value="7">Jul/2020</option>
                                    <option value="8">Ago/2020</option>
                                    <option value="9">Set/2020</option>
                                    <option value="10">Out/2020</option>
                                    <option value="11">Nov/2020</option>
                                    <option value="12">Dez/2020</option>
                                </select>
                            </div>
                        </div>
    
                    </div>
    
                    <button class="enquete__button">Adicionar Opção</button>
    
                    <ul class="enquete__list">
                        <li class="enquete__item">
    
                            <span class="enquete__option enquete__option--bold">Opção 1</span> 
                            <div class="enquete__inputs">
                                <input type="text" name="" id="" placeholder="Digite..." class="enquete__input">
                                <i class="enquete__icon--float" data-feather="edit-2"></i>
                            </div>
    
                        </li>
    
                        <li class="enquete__item">
    
                            <span class="enquete__option enquete__option--bold">Opção 1</span> 
                            <div class="enquete__inputs">
                                <input type="text" name="" id="" placeholder="Digite..." class="enquete__input">
                                <i class="enquete__icon--float" data-feather="edit-2"></i>
                            </div>
    
                        </li>
    
                        <li class="enquete__item">
    
                            <span class="enquete__option enquete__option--bold">Opção 1</span> 
                            <div class="enquete__inputs">
                                <input type="text" name="" id="" placeholder="Digite..." class="enquete__input">
                                <i class="enquete__icon--float" data-feather="edit-2"></i>
                            </div>
    
                        </li>
    
                        <li class="enquete__item">
    
                            <span class="enquete__option enquete__option--bold">Opção 1</span> 
                            <div class="enquete__inputs">
                                <input type="text" name="" id="" placeholder="Digite..." class="enquete__input">
                                <i class="enquete__icon--float" data-feather="edit-2"></i>
                            </div>
    
                        </li>
    
                    </ul>
                </div>

                <div class="enquete__actions">
                    <button class="enquete__button enquete__button--back">Cancelar</button>
                    <button class="enquete__button">Salvar</button>
                </div>

            </div>

        </div>
    </div>
    <script>feather.replace()</script>
</body>

</html>