<a href="/reservas-agenda"  class="cardReservas" >
    <div class = "espacoFoto">
        <img src="images/espacos-mural/churrasqueira.jpg" alt="">                       
    </div>
    <div class = "espacoNome">
        <h2>Nome do Espaço</h2>
        <p>Especificação (se houver)</p>
    </div>
</a>