<button class="profile-icon" onclick="profileDropdown()">
    <img src="<%=usuario.foto%>" alt="Imagem de perfil">
</button>
<div id="profile-dropdown" class="modal">
    <div class="profile-content">
        <header class="account-header">
            <div class="user-group">
                <img src="<%=usuario.foto%>" alt="Imagem de perfil">
                <div class="user-info">
                    <p><%=usuario.nome%> <%=usuario.sobrenome%></p>
                    <span>Apartamento 203</span>
                </div>
            </div>
        </header>
        <div class="account-main">
            <a href="/config"><img src="images/icones-mural/Cinza/settings.svg"
                    alt="">Configurações</a>
            <a href="/perfil"><img src="images/icones-mural/Cinza/user.svg" alt="">Ver meu perfil</a>
        </div>
        <div class="account-footer">
            <hr>
            <a href="/logout"><img src="images/icones-mural/Cinza/log-out.svg" alt="">
                Sair</a>
        </div>
    </div>
</div>