.reserva-data {
  color: #F70065;
  font: 20px 'Roboto';
  padding-bottom: 10px;
}


.agendabox1Mob {
  width: 320px;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
  margin: 0 auto;
  margin-top: 5px;
}

.agendacalMob {
  padding: 0 10px 10px 10px;
  box-sizing: border-box !important;
  background: white;

}

.agendacaltMob {
  font: 29px 'Roboto';
  font-weight: 600;
  color: black;
  display: block;
  margin: 28px 0 0 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.agendacalMob span {
  font: 17px 'Roboto';
  font-weight: 400;
  color: black;
  text-align: center;
  width: 40px;
  height: 40px;
  display: inline-block;
  float: left;
  overflow: hidden;
  line-height: 40px;
}

.agendacalMob .agendabMob:before {
  opacity: 0.3;
  content: 'o';
}

.circle {
  border: 2px solid black;
  box-sizing: border-box !important;
  border-radius: 200px !important;
}

span[data-titleMob]:hover:after,
div[data-titleMob]:hover:after {
  font: 11px 'Roboto';
  font-weight: 400;
  content: attr(data-title);
  position: absolute;
  margin: 0 0 100px;
  background: #F70065;
  border: 1px solid #f7f3eb;
  color: #f7f3eb;
  padding: 5px;
  z-index: 9999;
  min-width: 150px;
  max-width: 150px;
}



.agendabox1 {
  width: 520px;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
  margin: 0 auto;
  margin-top: 5px;
}

.agendacal {
  padding: 0 10px 10px 10px;
  box-sizing: border-box !important;
  background: white;

}

.agendacalt {
  font: 32px 'Roboto';
  font-weight: 600;
  color: black;
  display: block;
  margin: 28px 0 0 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.agendacal span {
  font: 27px 'Roboto';
  font-weight: 400;
  color: black;
  text-align: center;
  width: 64px;
  height: 64px;
  display: inline-block;
  float: left;
  overflow: hidden;
  line-height: 60px;
}

.agendacal .agendab:before {
  opacity: 0.3;
  content: 'o';
}

.circle {
  border: 2px solid black;
  box-sizing: border-box !important;
  border-radius: 200px !important;
}

span[data-title]:hover:after,
div[data-title]:hover:after {
  font: 11px 'Roboto';
  font-weight: 400;
  content: attr(data-title);
  position: absolute;
  margin: 0 0 100px;
  background: #F70065;
  border: 1px solid #f7f3eb;
  color: #f7f3eb;
  padding: 5px;
  z-index: 9999;
  min-width: 150px;
  max-width: 150px;
}

/* Controla proporção do calendários em diferentes proporções */
@media (min-width: 768px) {
  .agendabox1Mob {
    width: 640px;
  }
  .agendabox1Mob span {
    width: 88px;
    height: 88px;
    font-size: 28px;
    line-height: 88px;
  }
}

@media (min-width: 992px) {

  /* esconde calendario-mobile */
  .agendabox1Mob,
  .agendacalMob,
  .agendacaltMob,
  .agendacalMob span,
  .agendacalMob .agendabMob:before,
  span[data-titleMob]:hover:after,
  div[data-titleMob]:hover:after {
    display: none;
  }

  /* mostra calendario-desktop */
  .agendabox1,
  .agendacal,
  .agendacalt,
  .agendacal span,
  .agendacal .agendab:before,
  span[data-title]:hover:after,
  div[data-title]:hover:after {
    display: block;
  }
}

@media (max-width: 992px) {

  /* mostra calendario-mobile */
  .agendabox1Mob,
  .agendacalMob,
  .agendacaltMob,
  .agendacalMob span,
  .agendacalMob .agendabMob:before,
  span[data-titleMob]:hover:after,
  div[data-titleMob]:hover:after {
    display: block;
  }

  /* esconde calendario-desktop */
  .agendabox1,
  .agendacal,
  .agendacalt,
  .agendacal span,
  .agendacal .agendab:before,
  span[data-title]:hover:after,
  div[data-title]:hover:after {
    display: none;
  }
}