/* --------------- Containereses --------------- */

.containerReservas {
	width: 100%;
}

.wrapReservas {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}


/* --------------- Cards dos locais --------------- */


.cardReservas {
	margin: 10px;
	width: 260px;
	height: 460px;		
}

.cardReservas .espacoFoto {
	height: 80%;	
}

.cardReservas .espacoFoto img {
	width: 100%;	
	height: 100%;
	object-fit: cover;
}

.cardReservas .espacoNome {
	height: 20%;
	background-color: #F70065;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cardReservas .espacoNome h2 {
	color: white;
	font-family: 'Roboto' sans-serif;
	font-size: 22px;	
	font-weight: 600;
	padding-left: 20px;	
}

.cardReservas .espacoNome p {
	color: white;
	font-family: 'Roboto' sans-serif;
	font-size: 14px;	
	font-weight: 200;
	padding-top: 10px;
	padding-left: 20px;	
}

/* --------- MEDIA QUERY MOBILE ---------- */

 @media (max-width: 992px) {
 
	.cardReservas {
		margin: 25px;
		width: 400px;
		height: 200px;
	}

	.cardReservas .espacoFoto {
		height: 70%;	
	}

	.cardReservas .espacoNome {
		height: 30%;				
	}

	.cardReservas .espacoNome h2 {
		font-size: 18px;		
	}

	.cardReservas .espacoNome p {
		font-size: 11px;			
	}
	
}