.containerReservas {
	width: 100%;
}
.wrapReservas {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.boxDesktop {
	margin: 10px;
	width: 260px;
	height: 460px;
	text-align: center;
	border-radius: 3px;
	-webkit-transition: 200ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
    }
    

.boxDesktop h2 {
	color: #fff;
	padding: 30px;
	margin-top: 350px;
	text-align: center;
	font-weight: 100;
	font-size: 25px;
    background: #F70065;
    font-family: "Roboto", sans-serif;
}    

.boxMobile {
	margin: 25px;
	width: 400px;
	height: 200px;
	text-align: center;
	border-radius: 3px;
	-webkit-transition: 200ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
} 


.boxMobile h2 {
	color: #fff;
	padding: 20px;
	margin-top: 160px;
	text-align: left;
	font-weight: 30;
	font-size: 20px;
	background: #F70065;
	font-family: "Roboto", sans-serif;
}

.modal-reservas {
    text-decoration: none;
}

.one {
	background-image: url('../../img/espacos-mural/salao.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.two {
	background: url('../../img/espacos-mural/churrasqueira.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.three {
	background: url('../../img/espacos-mural/piscina.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.four {
	background: url('../../img/espacos-mural/academia.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.five {
	background: url('../../img/espacos-mural/brinquedoteca.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media (min-width: 992px) {

    /* esconde reserva-mobile */
    .boxMobile {
        display: none;
    }

    /* mostra reserva-desktop */
    .boxDesktop {
        display: block;
    }
}

 @media (max-width: 992px) {

   /* mostra reserva-mobile */
	.boxMobile {
		display: block;
	}

   /* esconde reserva-desktop */
	.boxDesktop {
		display: none;
	}
}