header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header .menu-btn {
    border: none;
    background: rgba(0, 0, 0, 0);
    margin-left: 10px;
}

header .menu-btn img {
    width: 40px;
}

header .options {
    display: flex;
}

header .options a {
    align-items: center;
    border: none;
    background-color: #F70065;
    border-radius: 50%;
    display: flex;
    margin: 10px;
    padding: 10px;
    height: 40px;
}

header .options a img {
    width: 20px;
}

header .options a span {
    display: none;
}

header button.profile-icon {
    background: rgba(0, 0, 0, 0);
    border: 0;
}

header button.profile-icon img {
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
}

/* Posiciona o header do menu superior (Header) de forma fixa nas páginas */
div.feed-container > header {
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: white;
    width: 100%;
}

/* Ajusta margem superior para considerar fixação do menu superior (Header) */
div.feed-container > main {
    margin-top: 60px;
}

@media (min-width: 768px) {

    header .menu-btn {
        margin-left: 20px;
        cursor: pointer;
    }

    header .options a {
        align-items: center;
        display: flex;
        text-decoration: none;
    }

    header button.profile-icon img {
        margin: 10px 20px;
        width: 60px;
    }
}

@media (min-width: 992px) {
    header .menu-btn {
        cursor: default;
        opacity: 0;
        display: none;
    }

    header .options a {
        border-radius: 8px;
    }

    header .options a span {
        color: #fff;
        display: block;
        font-weight: bold;
        padding-left: 10px;
    }

    /* Ajusta proporção do cabeçalho na tela */
    div.feed-container > header {
        width: 75vw;
        justify-content: center;
    }

    /* Reposiciona de forma fixa o profile-icon no canto suerior esquerdo */
    div.feed-container > header > button.profile-icon {
        position: fixed;
        top: 0px;
        right: 5%;
    }

    /* Ajusta margem superior para considerar fixação do menu superior (Header) */
    div.feed-container > main {
        margin-top: 80px;
    }
}